.carousel-inner{
     height: 500px;
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     margin-top:2%;
 }
 .carousel-control-prev{
     margin-left: 10%;
 }
 .carousel-control-next{
    margin-right: 10%;
}

 .item, img{
     height: 100% ;

 }
